@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  webkit-font-smoothing: antialiased;
  background-color: #141625;
}

.customInput {
  @apply border border-transparent hover:border-light-purple transition duration-150 ease-in-out focus:outline-0;
}

.loader {
  margin: 0 auto;
  border: 5px solid #7c5dfa;
  border-top: 5px solid #1e2139;
}

.Toastify__toast-theme--dark {
  @apply bg-dark-blue !important;
}

.react-datepicker {
  @apply border-0 bg-dark-blue !important;
}

.react-datepicker__month-container {
  @apply p-4 rounded-lg !important;

  box-shadow: 0 10px 20px rgba(72, 84, 159, 0.25);
}

.react-datepicker__navigation {
  @apply top-[1.6875rem] text-light-purple !important;
}

.react-datepicker__navigation-icon::before {
  @apply border-light-purple !important;
}

.react-datepicker__day-names {
  @apply hidden;
}

.react-datepicker__triangle {
  @apply hidden;
}

.react-datepicker__month-container,
.react-datepicker__header {
  @apply bg-dark-blue border-0 font-bold !important;
  font-family: "__League_Spartan_b52867" !important;
}

.react-datepicker__header {
  @apply p-3 !important;
}

.react-datepicker__current-month,
.react-datepicker__day {
  @apply text-pure-white text-base !important;
}

.react-datepicker__day:hover:not(.react-datepicker__day--disabled) {
  @apply text-light-purple bg-transparent !important;
}

.react-datepicker__day--disabled {
  @apply text-[#717171] !important;
}

.react-datepicker__day--selected {
  @apply bg-transparent text-light-purple !important;
}

.react-datepicker__day--keyboard-selected {
  @apply bg-transparent !important;
}

.react-datepicker__calendar-icon {
  @apply fill-hash-blue w-[2.1875rem] h-[2.1875rem] right-1 top-[10%] !important;
}

.react-datepicker__view-calendar-icon input {
  @apply p-3 !important;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
